body {
	padding-top: 50px;
}

.sidebar {
	position: fixed;
	width: 205px;
	padding-top: 10px;
}

.navbar-default .navbar-nav>li>a {
	color: black;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.navbar-default .navbar-brand {
	font-family: fantasy;
	color: black;
}

.navbar-default .navbar-toggle {
	border-color: #000000;
}

.navbar-default .navbar-toggle:hover {
	border-color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	{
	background-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #000000;
}

.worker {
	padding-top: 10px;
	position: fixed;
	right: 1px;
	bottom: 5px;
	margin-left: 44px;
	top: 50px;
	left: 25%;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

.b {
	margin-right: 0;
	margin-left: 0;
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.fstN {
	color: #D9534F
}

.secN {
	color: #428BCA
}

.thrN {
	color: #5CB85C
}

tr:hover {
	background: #B1A0A0;
}

.picked {
	background: #7F7272;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: none;
	border-bottom: 1px solid #000;
}

.numb {
	text-align: right;
	font-size: smaller;
}

.word {
	border: solid;
}

.list {
	overflow-y: scroll;
	height: 80%;
}

.senseNumber {
	border: 1px solid #ccc;
}

.input-group-addon {
	border: none;
}

.senseNumber:hover {
	background: #E4E4E4;
	color: #000000;
}

div:empty {
	display: none;
}

audio[src=""] {
	display: none;
}

.flip {
	-webkit-perspective: 800;
	width: 400px;
	height: 200px;
	position: relative;
	margin: 50px auto;
}

.flip .card.flipped {
	-webkit-transform: rotatex(-180deg);
}

.flip .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}

.flip .card .face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
	z-index: 2;
	font-family: Georgia;
	text-align: left;
}

.flip .card .front {
	position: absolute;
	z-index: 1;
	background: white;
	color: black;
	cursor: pointer;
	border: solid;
	font-size: 3em;
	text-align: center;
	line-height: 200px;
}

.flip .card .back {
	-webkit-transform: rotatex(-180deg);
	background: white;
	color: black;
	cursor: pointer;
	border: solid;
}

.deck-modal {
	padding-top: 35px;
	padding-bottom: 19px;
	padding-left: 20px;
}

.decl-lbl {
	padding-top: 7px;
	padding-right: 10px;
}

.addCrd {
	left: 34%;
}

.navbar-default {
	background-color: #36ACDB;
	border-color: #080808;
}
.disabledSndf{
	color: #ccc;
}