<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="ROLE_USER" />
		<intercept-url pattern="/cardPage" access="ROLE_USER" />
		<intercept-url pattern="/trainings" access="ROLE_USER" />
		<intercept-url pattern="/decksPage" access="ROLE_USER" />
		<intercept-url pattern="/cardsPage" access="ROLE_USER" />
		<intercept-url pattern="/about" access="ROLE_USER" />
		<intercept-url pattern="/decks/**" access="ROLE_USER" />
		<intercept-url pattern="/cards/**" access="ROLE_USER" />
		<form-login login-page="/login" default-target-url="/cardPage"
			authentication-failure-url="/login?error" username-parameter="username"
			password-parameter="password" authentication-success-handler-ref="ajaxAuthenticationSuccessHandler"
			authentication-failure-handler-ref="ajaxAuthenticationFailureHandler" />
		<logout logout-success-url="/login?logout" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder ref="encoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="11" />
	</beans:bean>


</beans:beans>